<!-- <div class="header">
    <img class="headerLogo" src="./../../assets/hypeHeatMapLogo.png" alt="Hype Heat Map Logo">
  <ul class="menu">
    <li>Latest</li>
    <li>Popular</li>
  </ul>
</div> -->
<nav class="navbar navbar-expand-lg navbar-light bg-light header">
    <div class="container-fluid">
      <div class="navbar-header header">
        <img class="headerLogo" src="./../../assets/hypeHeatMapLogo.png" alt="Hype Heat Map Logo">
      </div>
      <ul class="nav navbar-nav menu">
        <li><a>Latest</a></li>
        <li><a>Popular</a></li>
      </ul>
    </div>
  </nav>