<div *ngFor="let currentShow of showList | async">
      <div class="card">
        <div class="card-header">
            <div class="colorBlock" [style.background-color]="getRandomHexColor()"></div>
            <div id="showDate">Show Date: {{currentShow.showDateMonth}}/{{currentShow.showDateDay}}/{{currentShow.showDateYear}}
            </div> 
            <button class="btn btn-outline-primary btn-sm"> Edit </button>
        </div>
        <div class="card-body">
          Key: {{currentShow.$key}}
          <div *ngIf="isBandListPopulated">
            test 123
            <!-- <div *ngFor="let currentBand of bandList | async">
              <h3>Band: {{currentBand.name}}</h3>
              <h4>origin: {{currentBand.origin}}</h4>
            </div>   -->
          </div>  
        </div>
      </div>
      <p></p>
</div>