.showListing {
  border: 1px solid greenyellow;
  width: 75%;
  color: black;
  margin-top: 10px;
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: auto;
}

.colorBlock {
      display: inline-block;
      min-height: 50px;
      left: 20px;
      width: 50px; 
      height: 100%;
      margin: 0px 10px 0px 10px;
      border: 1px dashed blue;
}

.showInfo {
  display: inline-block;
  height: 100%;
  margin: auto;
  background-color: burlywood;
}

.debug {
  border: 1px dashed red; 
}

li {
  list-style-type: none;
  margin-top: 10px;
}