<div *ngFor="let currentShow of showList | async">
      <div class="card">
        <div class="card-header">
            <div class="colorBlock" [style.background-color]="getRandomHexColor()"></div>
            <div id="showDate">Show Date: {{currentShow.showDateMonth}}/{{currentShow.showDateDay}}/{{currentShow.showDateYear}}
            </div> 
            <button class="btn btn-outline-primary btn-sm"> Edit </button>
        </div>
        <div class="card-body">
          <h3>Show Date: {{currentShow.showDate}}</h3>
          <h4>origin: {{currentShow.origin}}</h4>
        </div>
      </div>
      <p></p>
</div>