.ListHeader {
  margin: 10px;
  max-width: 800px;
  display: inline-block;
  color: black;
  border: 1px solid greenyellow;
  text-align: center;
}

h1 {
  margin: inherit;
}

app-right-menu {
  display: block;
  float: right;
  width: 25%;
  margin: 0px;
  padding: 0px;
  max-width: 250px;
  height: 100%;
  margin: auto;
}

app-show-listing {
  display: block;
  max-width: 1000px;
  width: 75%;
  height: 100%;
  float: left;
  margin: auto;
}