app-right-menu {
  display: block;
  float: right;
  width: 25%;
  margin: 0px;
  padding: 0px;
  max-width: 250px;
  height: 100%;
  margin: auto;
}

app-show-listing {
  display: block;
  max-width: 1000px;
  width: 75%;
  height: 100%;
  float: left;
  margin: auto;
  margin-bottom: 109px;
}

app-site-footer {
  margin-top: 10px;
  bottom: 0;
  display: inline-block;
  position: fixed;
  left: 0;
  width: 100%;
  color: black;
}