
<div class="containerRightMenu">
  <button class="btn btn-outline-primary btn-sm" (click) = "createNewBandToggle()"> Create a new show listing </button>

  <div *ngIf = "addNewBand">

    <label for="bandName">Band Name</label>
    <input #bandName class="form-control mr-sm-2">

    <label for="bandLocation">Band Location</label>
    <input #bandLocation class="form-control mr-sm-2">
    <small class="form-text text-muted">City, State, Country</small>
    
    <br />
    <button class="btn btn-outline-primary" (click) = "submitForm(bandName.value, bandLocation.value);">Add New Band</button>
  </div>
</div>