/* You can add global styles to this file, and also import other style files */

@import "https://bootswatch.com/4/lux/bootstrap.css";

body {
  color: red;
  font-family: sans-serif;
  font-weight: bold;
  background-color: whitesmoke;
}